<!DOCTYPE html>
<html xmlns:th="http://www.Tymeleaf.org" xmlns:layout="http:www.ultraq.net.nz/thymeleaf/layouts"
	layout:decorate="layouts/defaultTemplate">

<head>
	<meta charset="UTF-8">
	<title>Create New Product</title>
</head>

<body>
	<!--gets the layout from the layout folder-->
	<div layout:fragment="content">


		<!--new div that will hold the Create Guitar within it-->
		<form action="#" th:action="@{doLogin}" th:object="${createProduct}" method="post">
		<div class="container">
			<div class="row align-items-start">
				<div class="col" style=padding-top:150px>
					
=
						<h2>Product Name</h2>
						<input type="text" th:field="*{productName}" name="productName">

				</div>
				<div class="col" style=padding-top:25px>
					<h1> Create Product</h1>
					<br><br><br>




					<h2>Product Description</h2>
					<input type="text" th:field="*{productDescription}"name="productDescription">

					<!--submit button-->
					<h2 colspan="2"><input type="submit" value="Confirm"></h2>
					<form>




				</div>
				<div class="col" style=padding-top:150px>



					<h2>Product Price</h2>
					<input type="text" th:field="*{productPrice}" name="productPrice">



	

				</div>
			</div>

		</div>
	</div>

	</div>
</body>

</html>