<!DOCTYPE html>
<html xmlns:th="http://www.Tymeleaf.org" xmlns:layout="http:www.ultraq.net.nz/thymeleaf/loyout"
	layout:decorate="layouts/defaultTemplate">

<head>
	<meta charset="UTF-8">
	<title>CST-339 Spring Boot Activity Application</title>
</head>

<body>
	<!--gets the layout from the layout folder-->
	<div layout:fragment="content">


		<!--new div that will hold the login page within it-->
		<div class="container">

			<div class="row">
				<div class="col">
					<h3> Sign-Up </h3>
					<!--posts to dologin-->
					<form action="#" th:action="@{doLogin}" th:object="${loginModel}" method="post">


						<!--table that holds the username and password in the table rows-->
						<table>

							<tr>
								<td> User Name: </td>
								<td><input type="text" th:field="*{username}"></td>
								<td>
									<h5 style="color: red;" th:if="${#fields.hasErrors('username')}"
										th:errors="*{username}">Username Error</h5>
								</td>
							</tr>
							<tr>
								<td>Password: </td>
								<td><input type="password" th:field="*{password}"></td>
								<td>
									<h5 style="color: red;" th:if="${#fields.hasErrors('password')}"
										th:errors="*{password}">Password Error</h5>
								</td>
							</tr>
							<tr>
								<!--submit button-->
								<td colspan="2"><input type="submit" value="Submit"></td>
							</tr>
						</table>
						<div th:if="${#fields.hasErrors('*')}">List of Errors</div>
						<div th:each="err : ${#fields.errors('*')}">
							<span style="color: red;" th:text="${err}" class=fieldError></span>
					</form>
				</div>
				<div class="col">
					<h3> Login</h3>

					<!--another form that holds the doLogin, just this time has the sign up instead of the sign in-->
					<form action="#" th:action="@{doLogin}" th:object="${loginModel}" method="post">
						<table>
							<tr>
								<td> User Name: </td>
								<td><input type="text" th:field="*{username}"></td>
								<td>
									<h5 style="color: red;" th:if="${#fields.hasErrors('username')}"
										th:errors="*{username}">Username Error</h5>
								</td>
							</tr>
							<tr>
								<td>Password: </td>
								<td><input type="password" th:field="*{password}"></td>
								<td>
									<h5 style="color: red;" th:if="${#fields.hasErrors('password')}"
										th:errors="*{password}">Password Error</h5>
								</td>
							</tr>
							<tr>
								<td colspan="2"><input type="submit" value="Submit"></td>
							</tr>
						</table>
						<div th:if="${#fields.hasErrors('*')}">List of Errors</div>
						<div th:each="err : ${#fields.errors('*')}">
							<span style="color: red;" th:text="${err}" class=fieldError></span>
					</form>
				</div>
			</div>
		</div>
	</div>


</body>

</html>