<!DOCTYPE html>
<html xmlns:th="http://www.Tymeleaf.org" xmlns:layout="http:www.ultraq.net.nz/thymeleaf/loyout"
	layout:decorate="layouts/defaultTemplate">

<head>
	<meta charset="UTF-8">
	<title>CST-339 Spring Boot Activity Application</title>
</head>

<body>
<!--gets the layout from the layout folder-->
	<div layout:fragment="content">


<!--new div that will hold the login page within it-->
		<h1>Welcome </h1>
		<!-- <h3>Your Customer ID:</h3>
		<h5 th:text="${newCustomer.customerID}">1</h5>-->
		<h3>First Name:</h3>
		<h5 th:text="${signupModel.firstName}">1</h5>
		<h3>Last Name:</h3>
		<h5 th:text="${signupModel.lastName}">1</h5>
		<h3>Email:</h3>
		<h5 th:text="${signupModel.email}">1</h5>
		<h3>Userame: </h3>
		<h5 th:text="${signupModel.username}">1</h5>
		<h3>Password: </h3>
		<h5 th:text="${signupModel.password}">1</h5>
		
		
		<form action="#" th:action="@{doProducts}" method="post">
	
		<!--submit button-->
		<h2 colspan="2"><input type="submit" value="View Products"></h2>
		<form>
	</div>
</body>

</html>