<!DOCTYPE html>
<html xmlns:th="http://www.Tymeleaf.org" xmlns:layout="http:www.ultraq.net.nz/thymeleaf/loyout"
	layout:decorate="layouts/defaultTemplate">

<head>
	<meta charset="UTF-8">
	<title>Sign Up Page</title>
</head>

<body>
<div layout:fragment="content">
<h1> test</h1>
<div class="container">
		
			<div class="row">
				<div class="col">
				<h3> Sign-Up </h3>
				<form action="#" th:action="@{doLogin}" th:object="${loginModel}" method="post">
					<table>
					<tr>
						<td>
							<h6 class="display-4" style=font-size:25px>First Name:</h6>
						</td>
					</tr>
					<tr>
						<td >
							<h6 class="display-4" style=font-size:25px>Last Name:</h6>
						</td>
					</tr>
					<tr>
						<td>
							<h6 class="display-4" style=font-size:25px>email:</h6>
						</td>
					</tr>
					<tr>
						<td>
							<h6 class="display-4" style=font-size:25px>User Name:</h6>
						</td>
					</tr>
					<tr>
						<td >
							<h6 class="display-4" style=font-size:25px>password:</h6>
						</td>
					</tr>
					<tr>
								<td colspan="2"><input type="submit" value="Enter"></td>
							</tr>
					</table>
					
					</form>
				</div>
			</div>
</div>
</div>

</body>